<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id = "com.unitrack.demo"
		versionCode = "10"
		version = "1.0.0" >

<name>UniTrack</name>
<description>Tracking admission deadlines has never been easier.<description>
<author email="saiansh.raizada@gmail.com">
Saiansh Raizada
</author>

</widget>